#content.site-content {
  padding-bottom: 3.75rem;
  padding-top: 6.125rem;
}

.single,
.group-blog {
  .byline {
    display: inline;
  }
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}


.posted-on,
.byline,
.comments-link {
  color: #9a9a9a;
}

