/* Next/Previous navigation */
.site-main {
  .comment-navigation,
  .posts-navigation,
  .post-navigation {
    margin: 0 0 1.5em;
    overflow: hidden;
  }
}

.comment-navigation,
.posts-navigation,
.post-navigation {

  .nav-previous {
    float: left;
    width: 50%;
  }

  .nav-next {
    float: right;
    text-align: right;
    width: 50%;
  }
}

.comment-content.card-block {
  padding: 20px;
}

.navigation.post-navigation {
  padding-top: 1.875rem;
}

.post-navigation,
.posts-navigation {
  .nav-previous a,
  .nav-next a {
    border: 1px solid #ddd;
    border-radius: 0.938rem;
    display: inline-block;
    padding: 0.313rem 0.875rem;
    text-decoration: none;
    &:hover {
      background: #eee none repeat scroll 0 0;
    }
  }
  .nav-next a::after {
    content: " \2192  ";
  }
  .nav-previous a::before {
    content: "\2190  ";
  }

}

.navigation.pagination{
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;

  .nav-links{
    a,span{
      @include font-sizerem(1.1875);
      padding: 0.313rem 0.875rem;
    }
  }

}









