body {
  background-color: #fbfbfb;
}

.module-border-wrap {
  border: 1px solid transparent;
  -moz-border-image: -moz-linear-gradient(to bottom left, #19b094 0%, #2c3e50 100%);
  -webkit-border-image: -webkit-linear-gradient(to bottom left, #19b094 0%, #2c3e50 100%);
  border-image: linear-gradient(to bottom left, #19b094 0%, #2c3e50 100%);
  border-image-slice: 1;
}



/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
@import "header/site-header";

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
@import "footer/footer";